{% extends "layout.html" %}

{% block title %}
Register
{% endblock  %}

{% block content %}
<h1>This is my Register content</h1>
<form class="form-with-validation" action="/users/register/" method="post">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
        {% for error in form.username.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Password</label>
        {{ form.password1 }}
        {% for error in form.password1.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
        {{ form.password2 }}
        {% for error in form.password2.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>

    <button type="submit">Register</button>
</form>

{% endblock  %}
